# Adafruit libraries for sensors
adafruit-circuitpython-bmp3xx
adafruit-circuitpython-scd30
adafruit-circuitpython-seesaw
adafruit-circuitpython-ltr390

#bonnets
adafruit-circuitpython-mcp230xx
adafruit-circuitpython-motorkit
adafruit-circuitpython-gps

# Hardware communication
#RPi.GPIO>=0.7.0
Adafruit-Blinka
smbus2

# General purpose
numpy
pandas


